<h1><%= t('messageFolder') %></h1>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th colspan="4"><%= t('messageFolderName') %></th>
    </tr>
    </thead>

    <tbody>
    <% @message_folders.each do |messageFolder| %>
        <tr >
          <td class="col-md-12"><a href="<%= message_folder_path(id: messageFolder) %>"><div><%= messageFolder.name%></div></a>  </td>
          <td title="<%= t('messageFolderList') %>"><%= link_to fa_icon("vcard-o") , message_folder_path(id: messageFolder) %></td>
          <td  title="<%= t('messageFolderEditList') %>"><%= link_to fa_icon("pencil") , edit_message_folder_path(id: messageFolder) %></td>
          <td  title="<%= t('messageFolderDeleteList') %>"><%= link_to fa_icon("remove") , message_folder_path(id: messageFolder), method: :delete, data: { confirm: t('confirmDelete') } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to t('createNew'), new_message_folder_path,class: "btn btn-default btn-primary" %>
</div>
