<h1>Executions history</h1>

<%= @currentProject %>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th> Title </th>
      <th> Description </th>
      <th> Status </th>
    </tr>
    </thead>

    <tbody>
    <% @cases.each do |c| %>
        <tr>
          <td class="col-md-3"><%= c.title %></td>
          <td class="col-md-7"><%= c.description %></td>
          <td class="col-md-2"><%= c.status %></td>
          <td><%= link_to fa_icon("wrench") , show_index_history_path(c) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
