<h1><%= t('roleManage') %></h1>
<div class="table-responsive">
<table class="table">
  <thead>
  <tr>
    <th></th>
    <% @zones.each do |zone| %>
        <th colspan="4"><%= zone.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @roles.each do |role| %>
      <tr>
        <th ><%= role.name %></th>
        <% @zones.each do |zone| %>
            <% manage = @manages.where(role_id: role.id, zone_id: zone.id).first %>
            <td class="col-md-1">
              <%= check_box(role.name + "_" + zone.name, manage.id, {checked: manage.canCreate}) %>
            </td>
            <td class="col-md-1">
              <%= check_box(role.name + "_" + zone.name, manage.id, {checked: manage.canRead}) %>
            </td>
            <td class="col-md-1">
              <%= check_box(role.name + "_" + zone.name, manage.id, {checked: manage.canUpdate}) %>
            </td>
            <td class="col-md-1">
              <%= check_box(role.name + "_" + zone.name, manage.id, {checked: manage.canDelete}) %>
            </td>
        <% end %>

      </tr>
  <% end %>

  </tbody>
</table>
</div>