<h1><%= t('plan') %> <%= @plan.name %></h1>
<%= form_for([@case_plan],  url: {action: "create"}, :html => {:class => 'form-horizontal'}) do |f| %>

    <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><%= t('caseName') %></th>
        <th colspan="2"><%= t('caseDescription') %></th>
      </tr>
      </thead>

      <tbody>
      <% @cases.each do |casee| %>
          <tr>
            <td><%= casee.title %></td>
            <td><%= casee.description %></td>
            <td><%= check_box_tag("cases[]", casee.id)%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="form-group">
    <%= f.label t('users')+':', nil, class: 'col-md-1 control-label' %>
    <div class="col-md-5">
      <%= f.collection_select :user_id, @users, :id, :surname, {}, {class: 'form-control'} %>
    </div>
    <div class="col-md-4 col-sm-offset-2">
      <%= f.submit t('createNew'), class: 'btn be-blue white' %>
      <%= link_to t('back'), :back, class: 'btn be-blue white' %>
    </div>
  </div>
<% end %>