<div class="login-page">
  <div class="form">
    <%= form_for(resource, as: resource_name, class: "register-form", url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "username" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "password"  %>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end -%>
        <button>
          Login

        </button>
    <% end %>

    <p class="message">
      <%= render "devise/shared/links" %>
    </p>
  </div>
</div>


