<table class="responstable">
  <h1>Manage roles</h1>
  <thead>
  <th><%= t('userRole') %></th>
  <th><%= t('userDescription') %></th>
  </thead>
  <tbody>
  <% @roles.each do |role| %>
      <tr>
        <td>
          <%= role.name %>
        </td>
        <td >
          <%= role.description %>
        </td>
        <td >
          <%= link_to fa_icon('pencil'), edit_role_path(role)  %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>