<div class="table-responsive">
  <table class="table">
    <h1><%= t('roles') %></h1>
    <thead>
      <th><%= t('roleName') %></th>
      <th colspan="3"><%= t('roleDescription') %></th>
    </thead>
    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td class="col-md-3">
            <%= role.name %>
          </td>
          <td class="col-md-9">
            <%= role.description %>
          </td>
          <td  >
            <%= link_to fa_icon('pencil'), edit_role_path(role)  %>
          </td>
          <td  >
            <%= link_to fa_icon('remove'), role, method: :delete, data: { confirm: t('confirmDelete') } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>