<nav class="navigation">
  <ul class="mainmenu">
    <li>
      <a href="<% link_to root_path %>"><%= fa_icon("home") %> <%= t('index') %></a>
    </li>
    <% if current_user.CanRead?(1) %>
        <li><a href=""><%= fa_icon("user") %> <%= t('users') %></a>
          <ul class="submenu">
            <li>
              <%= link_to users_path do %>
                  <%= fa_icon("list") %>
                  <%= t('listAll') %>
              <% end %>
            </li>
            <% if current_user.CanCreate?(1) %>
                <li>
                  <%= link_to new_user_path do %>
                      <%= fa_icon("user-plus") %>
                      <%= t('createNew') %>
                  <% end %>
                <li>

                  <%= link_to roles_path do %>
                      <%= fa_icon("list") %>
                      <%= t('roleList') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to manages_path do %>
                      <%= fa_icon("users") %>
                      <%= t('managePermissions') %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>

    <% if current_user.CanRead?(2) %>
        <li><a href=""><%= fa_icon("object-group") %> <%= t('projects') %></a>
          <ul class="submenu">
            <li>
              <%= link_to projects_path do %>
                  <%= fa_icon("list") %>
                  <%= t('listAll') %>
              <% end %>
            </li>
            <% if current_user.CanCreate?(2) %>
                <li>
                  <%= link_to new_project_path do %>
                      <%= fa_icon("plus") %>
                      <%= t('createNew') %>
                  <% end %>
                </li>
            <% end %>
            <% if current_user.CanUpdate?(2) %>
                <li>
                  <%= link_to assigns_path do %>
                      <%= fa_icon("share") %>
                      <%= t('projectAssign') %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <% if current_user.CanRead?(3) %>
        <li><a href=""><%= fa_icon("list-alt") %> <%= t('testSuites') %></a>
          <ul class="submenu">
            <li>
              <%= link_to suites_path do %>
                  <%= fa_icon("list") %>
                  <%= t('listAll') %>
              <% end %>
            </li>
            <% if current_user.CanCreate?(3) %>
                <li>
                  <%= link_to new_suite_path do %>
                      <%= fa_icon("plus") %>
                      <%= t('createNew') %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <li><a href=""><%= fa_icon("cubes") %> <%= t('buildRelease') %></a>
      <ul class="submenu">
        <li>
          <%= link_to builds_path do %>
              <%= fa_icon("list") %>
              <%= t('listAll') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_build_path do %>
              <%= fa_icon("plus") %>
              <%= t('createNew') %>
          <% end %>
        </li>
      </ul>
    </li>
    <% if current_user.CanRead?(1) %>
    <li><a href=""><%= fa_icon("flask") %> <%= t('testExecution') %></a>
      <ul class="submenu">
        <li>
          <%= link_to executes_path do %>
              <%= fa_icon("list") %>
              <%= t('listAll') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_execute_path do %>
              <%= fa_icon("plus") %>
              <%= t('createNew') %>
          <% end %>
        </li>
      </ul>
    </li>
    <% end %>
    <% if current_user.CanRead?(1) %>
    <li><a href=""><%= fa_icon("tags") %> <%= t('keywords') %></a>
      <ul class="submenu">
        <li>
          <%= link_to keywords_path do %>
              <%= fa_icon("list") %>
              <%= t('listAll') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_keyword_path do %>
              <%= fa_icon("plus") %>
              <%= t('createNew') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li><a href=""><%= fa_icon("laptop") %> <%= t('platforms') %></a>
      <ul class="submenu">
        <li>
          <%= link_to platforms_path do %>
              <%= fa_icon("list") %>
              <%= t('listAll') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_platform_path do %>
              <%= fa_icon("plus") %>
              <%= t('createNew') %>
          <% end %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>