<ul >
  <li class="option"><%= link_to t('users')%></li>
  <li class="option"><%= link_to t('projects')%></li>
  <li class="option"><%= link_to t('testSuites')%></li>
  <li class="option"><%= link_to t('testCases')%></li>
  <li class="separation"><%=t('management')%></li>
  <li class="option"><%= link_to t('buildsRelease')%></li>
  <li class="option"><%= link_to t('testPlans')%></li>
  <li class="option"><%= link_to t('testExecution')%></li>
  <li class="separation"><%=t('miscellaneous')%></li>
  <li class="option"><%= link_to t('keywords')%></li>
  <li class="option"><%= link_to t('platforms')%></li>
</ul>