<html>
<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>TestUs</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #7a1631; display: table;
        table-layout: fixed; width: 100%; padding-right: 25px;">
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <%= form_tag(set_current_project_path, method: :post) do  %>
              <%= collection_select :current_project, :id, @projects_can_select, :id, :name, {} ,{class: 'form-control', onchange: "$(this).parent('form').submit();"}%>
          <% end %>
        </li>
        <li>
          <div>
              <a href="?locale=en">EN </a>
              |
              <a href="?locale=es">ES </a>
          </div>
        </li>
        <li>
          <% if user_signed_in? %>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <%= current_user.username%>
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Ver perfil</a></li>
                  <li>
                    <%= link_to t('signOut'), destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </div>
          <% end %>
        </li>
      </ul>
    </div>


    </nav>

  <% unless flash.empty? %>
      <script type="text/javascript">
          toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": false,
              "positionClass": "toast-bottom-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
          };
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr.<%= type %>('<%= f[1] %>');

          <% end %>
      </script>
  <% end %>
  <div class="header">
    <div class="header-left">
        <%= render "layouts/menu" %>
      <%= render "layouts/footer" %>
    </div>
    <!-- VERSION MOVIL -->
    <div class="header-top">
      <div class="logo-in">
        <%= image_tag("Us-Logo.png", :alt => "logo") %>
      </div>
      <div class="top-nav-in">
        <span class="menu"><%= image_tag("menu.png", :alt => "logo") %></span>
          <%= render "layouts/menu" %>
        <script>
            $("span.menu").click(function(){
                $(".top-nav-in ul").slideToggle(500, function(){
                });
            });
        </script>

      </div>)
      <div class="clear"> </div>
    </div>
    <div class="content">
      <div class="work">
        <%= yield %>
      </div>
    </div>
    <div class="clear"> </div>

    <%= render "layouts/footer" %>

  </div>

  </body>


</html>


