<html>
<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>TestUs</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
  <body>
  <% unless flash.empty? %>
      <script type="text/javascript">
          toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": false,
              "positionClass": "toast-bottom-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
          };
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr.<%= type %>('<%= f[1] %>');

          <% end %>
      </script>
  <% end %>
  <div class="header">
    <div class="header-left">
      <div class="logo">
          <%= image_tag("Us-Logo.png", :alt => "logo") %>
      </div>
        <%= render "layouts/menu" %>
      <ul class="social-in">
        <li>
          <%= link_to fa_icon("power-off"), destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <%= render "layouts/footer" %>
    </div>
    <!-- VERSION MOVIL -->
    <div class="header-top">
      <div class="logo-in">
        <%= image_tag("Us-Logo.png", :alt => "logo") %>
      </div>
      <div class="top-nav-in">
        <span class="menu"><%= image_tag("menu.png", :alt => "logo") %></span>
          <%= render "layouts/menu" %>
        <script>
            $("span.menu").click(function(){
                $(".top-nav-in ul").slideToggle(500, function(){
                });
            });
        </script>

      </div>)
      <div class="clear"> </div>
    </div>
    <div class="content">
      <div class="work">
        <%= yield %>
      </div>
    </div>
    <div class="clear"> </div>

    <%= render "layouts/footer" %>

  </div>

  </body>


</html>


